<div class="lBoxContainer">
  <div class="lBoxContainer__coins">
    <div class="lBoxCard">
      <div class="lBoxCard__inner">
        <div class="lBoxCard__header">
          
        </div>
        <div class="lBoxCard__body lBoxCard__body--raoninos">
          
        </div>  
        <div class="lBoxCard__buyBtn">
          <!-- el boton debe tener el siguiente código (click)="buy(valor_de_la_compra)" -->
          <button (click)="buy()">Comprar</button>
        </div>   
      </div> 
    </div>
  </div>
</div>