<!-- VISTA PARA COMPRAR DINERO -->
<div class="lBoxContainer" (click)="buyRaoninos(10000)">
      <div class="lBoxCard">
        <div class="lBoxCard__inner">
          <div class="lBoxCard__header">
            <img class="lBoxCard__boxImg" src="../../../../assets/img/low.png"/>
          </div>
          <div class="lBoxCard__body lBoxCard__body--raoninos">
            <p class="lBoxCard__bodyRaonino lBoxCard__bodyRaonino--buy"><img src="../../../../assets/img/Raonino.png"/> 10000</p>
          </div>  
        </div>
        </div>
      <div class="lBoxCard" (click)="buyRaoninos(50000)">
          <div class="lBoxCard__inner">
            <div class="lBoxCard__header">
              <img class="lBoxCard__boxImg" src="../../../../assets/img/medium.png"/>
            </div>
            <div class="lBoxCard__body lBoxCard__body--raoninos">
              <p class="lBoxCard__bodyRaonino lBoxCard__bodyRaonino--buy"><img src="../../../../assets/img/Raonino.png"/> 50000</p>
            </div>  
          </div>
      </div>
      <div class="lBoxCard" (click)="buyRaoninos(100000)">
          <div class="lBoxCard__inner">
              <div class="lBoxCard__header">
                <img class="lBoxCard__boxImg" src="../../../../assets/img/hight.png"/>
              </div>
              <div class="lBoxCard__body lBoxCard__body--raoninos">
                <p class="lBoxCard__bodyRaonino lBoxCard__bodyRaonino--buy"><img src="../../../../assets/img/Raonino.png"/> 100000</p>
              </div>   
            </div>
        </div>
    </div>
