<app-navbar ></app-navbar>

<div class="lboxRaoninos">
<label><img src="../../../../assets/img/Raonino.png"/> {{raoninos}} <button class="lboxRaoninos__buyRaoninos" (click)="buy()" *ngIf="comprar">+</button></label>
 </div>

<!-- <app-show-raoninos (add)="buyRaoninos($event)"></app-show-raoninos> -->

<div class="lBoxContainer" *ngIf="comprar">
  <!-- LOW BOX -->
    <div class="lBoxCard" (click)="buyBox('low')">
      <div class="lBoxCard__inner">
        <div class="lBoxCard__header lBoxCard__header--low">
          <img class="lBoxCard__boxImg" src="../../../assets/img/BasicBox.png"/>
        </div>
        <div class="lBoxCard__body">
            <p class="lBoxCard__bodyTitle">Noob Loot Box</p>
            <p class="lBoxCard__bodyRaonino"><img src="../../../../assets/img/Raonino.png"/> 100</p>
        </div>  
      </div> 
    </div>
    <!-- MEDIUM BOX -->
    <div class="lBoxCard" (click)="buyBox('medium')">
      <div class="lBoxCard__inner">
        <div class="lBoxCard__header lBoxCard__header--medium">
          <img class="lBoxCard__boxImg" src="../../../assets/img/ProBox.png"/>
        </div>
        <div class="lBoxCard__body ">
            <p class="lBoxCard__bodyTitle">Noob Loot Box</p>
            <p class="lBoxCard__bodyRaonino"><img src="../../../../assets/img/Raonino.png"/> 1000 </p>
        </div>  
      </div> 
    </div>
  <!-- HIGHT BOX -->
  <div class="lBoxCard" (click)="buyBox('hight')">
    <div class="lBoxCard__inner">
      <div class="lBoxCard__header lBoxCard__header--hight">
          <img class="lBoxCard__boxImg" src="../../../assets/img/MasterBox.png"/>
        </div>
      <div class="lBoxCard__body ">
        <p class="lBoxCard__bodyTitle">Noob Loot Box</p>
        <p class="lBoxCard__bodyRaonino"><img src="../../../../assets/img/Raonino.png"/> 10000</p>
      </div>  
  
    </div> 
  </div>  
</div>

<!-- VISTA PARA COMPRAR DINERO -->
<app-buy *ngIf="!comprar"></app-buy>


<!-- ZONA PARA MOSTRAR EL GIFT OBTENIDO -->
<div class="lBoxModal" *ngIf="giftImg">
  <div class="lBoxModal__card">
    <img class="lBoxModal__img" src={{source}} />
    <button class="lBoxModal__btn" (click)="closeGift()">Cerrar</button>
  </div>
</div>
